<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" sizes="16*16" href="../data/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css">
    <title>Element Design | Alert</title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper flex flex--justify_between flex--align_center">
            <a class="header__brand flex flex--align_center" href="../index.html">
                <img class="header__brand__logo" src="../data/img/logo.svg" alt="logo">
                <span class="header__brand__title">Element Design</span>
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list__item"><a href="../index.html">Home</a></li>
                    <li class="header__list__item"><a href="../docs.html">Docs</a></li>
                    <li class="header__list__item"><a href="https://github.com/theniteshnarang/element_design">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="main__wrapper">
            <div class="main__section main__section--alert flex flex--column flex--justify_between">
                <h1 class="main__title">Alert</h1>
                <p>An alert box, sometimes called a message box, is a small window that pops up on your screen to warn you that your computer is about to perform an operation.</p>
                <strong class="mt-1">There are types of Alert : </strong>
                <div class="main__content main__content--alert flex flex--column flex--justify_around">
                    <h2>Success</h2>
                    <div class="alert bg-success flex flex--center pos-rel">
                        This is a success alert.
                        <i class="bi bi-x alert--cross"></i>
                    </div>
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=htmlmixed&ds=false&dsyoff=0px&dsblur=82px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=90%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520bg-success%2520flex%2520flex--center%2520pos-rel%2522%253E%250A%2520%2520%2509%250A%2520%2520%2509This%2520is%2520a%2520success%2520alert.%250A%2509%250A%2509%253Ci%2520class%253D%2522bi%2520bi-x%2520alert--cross%2522%253E%253C%252Fi%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
                        style="width: 731px; height: 165px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="main__content main__content--alert flex flex--column flex--justify_around ">
                    <h2>Error</h2>
                    <div class="alert bg-error flex flex--center pos-rel">
                        This is a error alert.
                        <i class="bi bi-x alert--cross"></i>
                    </div>
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=htmlmixed&ds=false&dsyoff=0px&dsblur=82px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=90%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520bg-error%2520flex%2520flex--center%2520pos-rel%2522%253E%250A%2520%2520%2509%250A%2520%2520%2509This%2520is%2520a%2520error%2520alert.%250A%2509%250A%2509%253Ci%2520class%253D%2522bi%2520bi-x%2520alert--cross%2522%253E%253C%252Fi%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
                        style="width: 731px; height: 165px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="main__content main__content--alert flex flex--column flex--justify_around ">
                    <h2>Warning</h2>
                    <div class="alert bg-warning flex flex--center pos-rel">
                        This is a warning alert.
                        <i class="bi bi-x alert--cross"></i>
                    </div>
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=htmlmixed&ds=false&dsyoff=0px&dsblur=82px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=90%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520bg-warning%2520flex%2520flex--center%2520pos-rel%2522%253E%250A%2520%2520%2509%250A%2520%2520%2509This%2520is%2520a%2520warning%2520alert.%250A%2509%250A%2509%253Ci%2520class%253D%2522bi%2520bi-x%2520alert--cross%2522%253E%253C%252Fi%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
                        style="width: 731px; height: 165px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="main__content main__content--alert flex flex--column flex--justify_around ">
                    <h2>Info</h2>
                    <div class="alert bg-info flex flex--center pos-rel">
                        This is a info alert.
                        <i class="bi bi-x alert--cross"></i>
                    </div>
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=htmlmixed&ds=false&dsyoff=0px&dsblur=82px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=90%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520bg-info%2520flex%2520flex--center%2520pos-rel%2522%253E%250A%2520%2520%2509%250A%2520%2520%2509This%2520is%2520a%2520info%2520alert.%250A%2509%250A%2509%253Ci%2520class%253D%2522bi%2520bi-x%2520alert--cross%2522%253E%253C%252Fi%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
                        style="width: 731px; height: 165px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <footer class="footer flex flex--justify_center ">
                <div class="footer__wrapper ">
                    <div class="footer__about flex flex--align_center ">
                        <a href="# " class="footer__logo ">
                            <img src="../data/img/logo.svg " alt=" ">
                        </a>
                        <div class="footer__about__content flex flex--column flex--justify_center ">
                            <p>
                                Element is an component library, developed for personal use by Nitesh Narang. It's designed is inspired by <a href="https://material.io/ ">Material Design</a>.
                            </p>
                            <ul class='footer__about__content__list'>
                                <li><a href="https://github.com/theniteshnarang">Github</a></li>
                                <li><a href="https://twitter.com/theniteshnarang ">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__legal flex flex--align_center ">
                        <a href="./index.html " class="footer__logo ">
                            <img class="brand__logo " src="../data/img/author_logo.svg " alt=" ">
                        </a>
                        <p class="footer__legal__content "><strong>© Made with <span>♥</span> , 2021.</strong></p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <aside class="components ">
        <ul class="components__list flex flex--column ">
            <li><a href="../docs.html ">Getting Started</a></li>
            <li><a href="../components/layout.html ">Layout</a></li>
            <li><a href="../components/avatar.html ">Avatar</a></li>
            <li><a class="active" href="../components/alert.html ">Alert</a></li>
            <li><a href="../components/badge.html">Badge</a></li>
            <li><a href="../components/button.html">Button</a></li>
            <li><a href="../components/cards.html">Cards</a></li>
            <li><a href="../components/image.html">Images</a></li>
            <li><a href="../components/input.html">Input</a></li>
            <li><a href="../components/list.html">Lists</a></li>
            <li><a href="../components/navigation.html">Navigation</a></li>
            <li><a href="../components/modal.html">Modal</a></li>
            <li><a href="../components/rating.html">Ratings</a></li>
            <li><a href="../components/search-bar.html">Search Bar</a></li>
            <li><a href="../components/typography.html">Typography</a></li>
        </ul>
    </aside>

</body>

</html>