<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" sizes="16*16" href="../data/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css">
    <title>Element Design | Search Bar</title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper flex flex--justify_between flex--align_center">
            <a class="header__brand flex flex--align_center" href="../index.html">
                <img class="header__brand__logo" src="../data/img/logo.svg" alt="logo">
                <span class="header__brand__title">Element Design</span>
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list__item"><a href="../index.html">Home</a></li>
                    <li class="header__list__item"><a href="../docs.html">Docs</a></li>
                    <li class="header__list__item"><a href="https://github.com/theniteshnarang/element_design">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="main__wrapper">
            <div class="main__section main__section--search_bar">
                <h1 class="main__title">Search Bar</h1>
                <p>Search Bar Description here</p>
                <div class="main__content main__content--search_bar">
                </div>
            </div>
            <footer class="footer flex flex--justify_center ">
                <div class="footer__wrapper ">
                    <div class="footer__about flex flex--align_center ">
                        <a href="# " class="footer__logo ">
                            <img src="../data/img/logo.svg " alt=" ">
                        </a>
                        <div class="footer__about__content flex flex--column flex--justify_center ">
                            <p>
                                Element is an component library, developed for personal use by Nitesh Narang. It's designed is inspired by <a href="https://material.io/ ">Material Design</a>.
                            </p>
                            <ul class='footer__about__content__list'>
                                <li><a href="https://github.com/theniteshnarang">Github</a></li>
                                <li><a href="https://twitter.com/theniteshnarang ">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__legal flex flex--align_center ">
                        <a href="./index.html " class="footer__logo ">
                            <img class="brand__logo " src="../data/img/author_logo.svg " alt=" ">
                        </a>
                        <p class="footer__legal__content "><strong>© Made with <span>♥</span> , 2021.</strong></p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <aside class="components ">
        <ul class="components__list flex flex--column ">
            <li><a href="../docs.html ">Getting Started</a></li>
            <li><a href="../components/layout.html ">Layout</a></li>
            <li><a href="../components/avatar.html ">Avatar</a></li>
            <li><a href="../components/alert.html ">Alert</a></li>
            <li><a href="../components/badge.html">Badge</a></li>
            <li><a href="../components/button.html">Button</a></li>
            <li><a href="../components/cards.html">Cards</a></li>
            <li><a href="../components/image.html">Images</a></li>
            <li><a href="../components/input.html">Input</a></li>
            <li><a href="../components/list.html">Lists</a></li>
            <li><a href="../components/navigation.html">Navigation</a></li>
            <li><a href="../components/modal.html">Modal</a></li>
            <li><a href="../components/rating.html">Ratings</a></li>
            <li><a class="active" href="../components/search-bar.html">Search Bar</a></li>
            <li><a href="../components/typography.html">Typography</a></li>
        </ul>
    </aside>

</body>

</html>