<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../data/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css">
    <title>Element Design | Search Bar</title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper flex flex--justify_between flex--align_center">
            <a class="header__brand flex flex--align_center" href="../index.html">
                <img class="header__brand__logo" src="../data/img/logo.svg" alt="logo">
                <span class="header__brand__title">Element Design</span>
            </a>
            <nav class="header__nav">
                <ul class="header__list flex flex--justify_between">
                    <li><a class="header__list__item" href="../index.html">Home</a></li>
                    <li><a class="header__list__item active" href="../docs.html">Docs</a></li>
                    <li><a class="header__list__item" href="https://github.com/theniteshnarang/element_design">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="main__wrapper">
            <div class="main__section main__section--search_bar">
                <h1 class="main__title">Search Bar</h1>
                <p>It is used to search the specific item from a available list of items.</p>
                <div class="main__content main__content--search_bar flex flex--column flex--justify_around">
                    <div class="search-bar pos-rel">
                        <input class="search-bar__input" type="text" name="search" placeholder="Search for products" />
                        <i class="search-bar__icon bi bi-search"></i>
                    </div>
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=htmlmixed&ds=false&dsyoff=0px&dsblur=82px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=90%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522search-bar%2520pos-rel%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%253Cinput%2520class%253D%2522search-bar__input%2522%2520type%253D%2522text%2522%2520name%253D%2522search%2522%2520placeholder%253D%2522Search%2520for%2520products%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%253Ci%2520class%253D%2522search-bar__icon%2520bi%2520bi-search%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E"
                        style="width: 731px; height: 178px; border:0; transform: scale(1); overflow:hidden;">
                    </iframe>
                </div>
            </div>
            <footer class="footer flex flex--justify_center ">
                <div class="footer__wrapper ">
                    <div class="footer__about flex flex--align_center ">
                        <a href="# " class="footer__logo ">
                            <img src="../data/img/logo.svg " alt=" ">
                        </a>
                        <div class="footer__about__content flex flex--column flex--justify_center ">
                            <p>
                                Element is an component library, developed for personal use by Nitesh Narang. It's designed is inspired by <a href="https://material.io/ ">Material Design</a>.
                            </p>
                            <ul class='footer__about__list'>
                                <li><a class="footer__about__list__item" href="https://github.com/theniteshnarang">Github</a></li>
                                <li><a class="footer__about__list__item" href="https://twitter.com/theniteshnarang">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__legal flex flex--align_center ">
                        <a href="./index.html " class="footer__logo ">
                            <img class="brand__logo " src="../data/img/author_logo.svg " alt=" ">
                        </a>
                        <p class="footer__legal__content "><strong>© Made with <span>♥</span> , 2021.</strong></p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <aside class="components ">
        <ul class="components__list flex flex--column ">
            <li><a href="../docs.html ">Getting Started</a></li>
            <li><a href="../components/layout.html ">Layout</a></li>
            <li><a href="../components/avatar.html ">Avatar</a></li>
            <li><a href="../components/alert.html ">Alert</a></li>
            <li><a href="../components/badge.html">Badge</a></li>
            <li><a href="../components/button.html">Button</a></li>
            <li><a href="../components/cards.html">Cards</a></li>
            <li><a href="../components/image.html">Images</a></li>
            <li><a href="../components/input.html">Input</a></li>
            <li><a href="../components/list.html">Lists</a></li>
            <li><a href="../components/navigation.html">Navigation</a></li>
            <li><a href="../components/modal.html">Modal</a></li>
            <li><a href="../components/rating.html">Ratings</a></li>
            <li><a class="active" href="../components/search-bar.html">Search Bar</a></li>
            <li><a href="../components/typography.html">Typography</a></li>
        </ul>
    </aside>

</body>

</html>