// Avatar Component
.avatar {
    border: 1px solid $primaryColor;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    &--badge {
        width: 1rem;
        height: 1rem;
        position: absolute;
        bottom: 0.4rem;
        right: 1rem;
    }
    &--text {
        font-size: 3rem;
        padding: 0.6rem;
        color: $lightColor;
    }
}

// Alert Component
.alert {
    border-radius: 0.3rem;
    max-width: 30vw;
    color: $lightColor;
    height: 2.8rem;
    &--cross {
        position: absolute;
        font-size: 1.7rem;
        top: 0;
        right: 0;
        cursor: pointer;
        margin-top: -0.3rem;
        &:hover {
            color: $primaryColor;
        }
    }
}

// Badge Component
.badge {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
}

// Button Component
.btn {
    padding: 0.3rem 1rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.09375rem;
    border: none;
    &-primary {
        color: $primaryColor;
        background-color: $lightColor;
        &:hover {
            color: $darkColor;
            background-color: $gray-300;
        }
    }
    &-secondary,
    &-solid {
        color: $lightColor;
        background-color: $primaryColor;
        &:hover {
            color: $darkColor;
            background-color: $secondaryColor;
        }
    }
    &-secondary,
    &-outline {
        border: 2px solid $lightColor;
        &:hover {
            border: none;
        }
    }
    &-outline {
        border-color: $primaryColor;
        &:hover {
            color: $lightColor;
            background-color: $secondaryColor;
        }
    }
    &-round {
        border-radius: 7rem;
        &--corner {
            border-radius: 0.3rem;
        }
    }
    &--link {
        padding: 0.5rem 1rem;
    }
}

// Card Component
.card {
    max-width: 30rem;
    box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0.5rem;
    padding: 0.5rem;
    &__image {
        max-width: 10rem;
        padding: 0.7rem;
        &--col {
            max-width: 100%;
        }
    }
    &__content {
        max-width: 19rem;
        &--col {
            min-height: 35vh;
        }
    }
    &__header {
        min-width: 100%;
    }
    &__icon {
        cursor: pointer;
        font-size: 1.3em;
        margin-right: 0.5rem;
        &:hover {
            color: $secondaryColor;
        }
        &--col {
            position: absolute;
            right: 0.5vw;
            top: 3vh;
        }
    }
    &__strike {
        text-decoration: line-through;
        font-size: 0.75em;
    }
    &--col {
        max-width: 15rem;
        min-height: 80vh;
        padding: 0.7rem 1rem;
    }
}

.image {
    &--rounded {
        border-radius: 50%;
    }
}

.input {
    padding: 0.3rem 0.2rem;
    border: 1px solid $primaryColor;
    outline: 1px solid $primaryColor;
    color: $primaryColor;
    &-label {
        margin: 0.5rem 0;
        color: $primaryColor;
    }
    &-required {
        margin-top: 0.5rem;
    }
    &--error {
        border-color: $red-600;
        outline-color: $red-500;
    }
    &:focus {
        border-color: $secondaryColor;
        outline-color: $secondaryColor;
    }
}

.list {
    max-height: 42vh;
    overflow-y: auto;
    box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1);
    border: 1px solid $gray-300;
    &__item {
        padding: 1rem;
        border-bottom: 1px solid $gray-300;
        &--spaced {
            margin: 0.5rem 0;
            padding: 1rem;
            border: 1px solid $gray-300;
            &:hover {
                box-shadow: 2px 2px 3px 0 rgba(1, 1, 1, 0.1);
                transform: scale(1.03);
            }
        }
        &:hover {
            background-color: $blue-200;
        }
    }
}

.search-bar {
    &__input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        outline: 1px solid $gray-600;
        color: $darkColor;
        &:focus {
            outline-color: $secondaryColor;
            border-color: $secondaryColor;
        }
    }
    &__icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.5rem;
        color: $secondaryColor;
    }
}