.main {
    height: 120vh;
    &__wrapper {
        max-width: 80vw;
        text-align: left;
        height: inherit;
        margin: 16.5vh auto 0 auto;
    }
    .footer {
        height: 45vh;
    }
}

.getting-started {
    height: 75vh;
    &__wrapper {
        height: inherit;
    }
    &__content {
        height: 30vh;
    }
}

.components {
    position: fixed;
    z-index: 1;
    top: 10.5vh;
    right: 0vw;
    width: 18.5vw;
    background-color: inherit;
    margin-right: 7rem;
    line-height: 1.4;
    overflow-y: auto;
    height: 90vh;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    &__list {
        box-shadow: 0 5px 5px $primaryColor, 0 0 50px rgba(0, 0, 0, 0.1) inset;
        text-align: left;
        li {
            margin: 0.3rem 0;
        }
    }
}