iframe {
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    height: 80vh;
    text-align: left;
    .getting-started {
        width: 60vw;
        height: inherit;
        margin: 0 auto 0 10.5rem;
        &__content {
            display: flex;
            height: inherit;
            flex-direction: column;
            justify-content: space-around;
            &__wrapper {
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}

.components {
    position: fixed;
    top: 10.5vh;
    right: 0vw;
    width: 23vw;
    margin-right: 3rem;
    line-height: 1.5;
    background-color: inherit;
    overflow-y: auto;
    height: 89vh;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    &__list {
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 5px $primaryColor, 0 0 50px rgba(0, 0, 0, 0.1) inset;
        text-align: left;
        li {
            margin: 0.3rem 0;
        }
    }
}