.main {
    &__section {
        height: 100vh;
        max-width: 63vw;
        margin: 15vh auto 0 9vw;
        text-align: left;
        &--docs {
            height: 75vh;
            margin-bottom: 3vh;
            iframe {
                margin-left: 1rem;
            }
        }
        &--layout {
            height: 200vh;
        }
        &--avatar {
            height: 210vh;
        }
        &--alert {
            height: 110vh;
        }
        &--badge {
            height: 55vh;
        }
    }
    &__content {
        height: 30vh;
        &__title {
            margin-bottom: 1rem;
        }
        &--layout {
            height: 65vh;
        }
        &--avatar {
            height: 60vh;
            iframe {
                margin-left: 0;
            }
            .main__content__img {
                width: 6.5vw;
            }
            span,
            p {
                margin-left: 2rem;
            }
        }
        &--alert {
            height: 20vh;
        }
    }
    &__desc--layout {
        height: 45vh;
        margin-bottom: 1rem;
    }
    &__title {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .footer {
        height: 45vh;
    }
}

.components {
    position: fixed;
    z-index: 1;
    top: 10.5vh;
    right: 0vw;
    width: 19vw;
    background-color: inherit;
    margin-right: 6.2rem;
    line-height: 1.5;
    overflow-y: auto;
    height: 90vh;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    &__list {
        padding: 1rem 0;
        box-shadow: 0 2px 2px $primaryColor, 0 0 40px rgba(0, 0, 0, 0.1) inset;
        text-align: left;
        li {
            margin: 0.3rem 0;
        }
    }
}