@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #{$primaryColor};
    --secondary-color: #{$secondaryColor};
    --dark-color: #{$darkColor};
    --light-color: #{$lightColor};
}

body {
    height: 100vh;
    background-color: var(--light-color);
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
}

h1 {
    font-weight: 400;
}

ul {
    list-style: none;
    display: flex;
    li {
        a {
            color: var(--primary-color);
            text-decoration: none;
        }
        a:hover {
            color: var(--secondary-color);
        }
    }
}

span {
    font-weight: bold;
}

.header {
    height: 10vh;
    background-color: var(--dark-color);
    border-bottom: 0.3px solid var(--light-color);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100vw;
    z-index: 1;
    &__wrapper {
        height: inherit;
        margin: 0 auto;
        max-width: 80vw;
    }
    &__list {
        min-width: 18vw;
        &__item {
            color: var(--light-color);
            &:hover {
                color: var(--secondary-color);
            }
            &:focus {
                padding: 1rem 2rem;
                border: 2px solid var(--secondary-color);
                border-radius: 0.3rem;
            }
        }
    }
    &__brand {
        text-decoration: none;
        &__title {
            color: var(--light-color);
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            margin-left: 1rem;
        }
        &__logo {
            max-width: 2.5vw;
        }
    }
}

.hero {
    height: 70vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    &__wrapper {
        height: 45vh;
        max-width: 60vw;
        padding: 0 5rem;
    }
    &__brand__logo {
        width: 5vw;
    }
    &__title span {
        color: var(--secondary-color);
    }
}

.footer {
    height: 40vh;
    &__wrapper {
        min-width: 80vw;
    }
    &__about {
        height: 30vh;
        margin: 0.5rem 0;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
        &__content {
            height: inherit;
            margin-left: 1.5rem;
            p {
                max-width: 50%;
                text-align: left;
                line-height: 1.5;
                a {
                    text-decoration: none;
                    color: var(--secondary-color);
                }
            }
        }
        &__list {
            margin-top: 1rem;
            &__item {
                padding: 0 0.5rem;
            }
            &__item:first-child {
                padding-left: 0;
            }
        }
    }
    &__legal {
        height: 15vh;
        &__content {
            margin: auto 0 auto 2rem;
            strong {
                color: var(--primary-color);
                span {
                    color: var(--secondary-color);
                    font-size: 1.25rem;
                }
            }
        }
    }
    &__logo img {
        max-width: 4vw;
    }
}