@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background-color: $lightColor;
    text-align: center;
    font-size: 1rem;
    color: $primaryColor;
}

h1 {
    font-weight: 400;
}

ul {
    list-style: none;
    display: flex;
    li {
        padding: 0 1rem;
        a {
            color: $primaryColor;
            text-decoration: none;
        }
        a:hover {
            color: $secondaryColor;
        }
    }
}

span {
    color: $darkColor;
    text-transform: uppercase;
    font-weight: bold;
}

iframe {
    margin-left: -10rem;
}

.header {
    height: 10vh;
    background-color: $darkColor;
    border-bottom: 0.3px solid $lightColor;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    &__wrapper {
        height: inherit;
        margin: 0 auto;
        max-width: 80vw;
    }
    &__list {
        a {
            color: $lightColor;
        }
        a:hover {
            color: $secondaryColor;
        }
    }
    &__brand {
        &__title {
            color: $lightColor;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            margin-left: 1rem;
        }
        &__logo {
            width: 2.5vw;
        }
    }
}

.hero {
    height: 70vh;
    background-color: $darkColor;
    color: $lightColor;
    &__wrapper {
        height: 45vh;
        margin-top: 2rem;
        max-width: 60vw;
        padding: 0 5rem;
    }
    &__brand__logo {
        width: 5vw;
    }
    &__title span {
        color: $secondaryColor;
    }
}

.footer {
    height: 40vh;
    &__wrapper {
        width: 80vw;
    }
    &__about {
        height: 30vh;
        margin: 0.5rem 0;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
        &__content {
            height: inherit;
            margin-left: 1.5rem;
            p {
                max-width: 50%;
                text-align: left;
                line-height: 1.5;
                a {
                    color: $secondaryColor;
                }
            }
            &__list {
                margin-top: 1rem;
                li:first-child {
                    padding-left: 0;
                }
            }
        }
    }
    &__legal {
        height: 15vh;
        &__content {
            margin: auto 0 auto 2rem;
            strong {
                color: $primaryColor;
                span {
                    color: $secondaryColor;
                    font-size: 1.25rem;
                }
            }
        }
    }
    &__logo img {
        width: 4vw;
    }
}