.layout {
    iframe {
        margin-left: -10vw;
    }
    &__title {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &__desc {
        height: 200vh;
        &__title {
            margin: 1rem 0;
        }
    }
    &__content {
        &__title {
            margin: 1rem 0 2rem;
        }
    }
}