// colors
$darkColor: #222831;
$primaryColor: #393e46;
$secondaryColor: #00adb5;
$lightColor: #eeeeee;
// sizes
$tablet: 768px;
$phone: 510px;
$smphone: 425px;
$vsmphone: 400px;
// media queries defination in scss.
@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: $phone) {
        @content;
    }
}

@mixin smphone {
    @media only screen and (max-width: $smphone) {
        @content;
    }
}

@mixin vsmphone {
    @media only screen and (max-width: $vsmphone) {
        @content;
    }
}