@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-color: #eeeeee;
  text-align: center;
  font-size: 1rem;
  color: #393e46;
}

h1 {
  font-weight: 400;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  padding: 0 1rem;
}

ul li a {
  color: #393e46;
  text-decoration: none;
}

ul li a:hover {
  color: #00adb5;
}

span {
  color: #222831;
  text-transform: uppercase;
  font-weight: bold;
}

iframe {
  margin-left: -10vw;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.09375rem;
  border: none;
}

.bg-primary {
  color: #eeeeee;
  background-color: #00adb5;
}

.bg-primary:hover {
  color: #222831;
}

.bg-secondary {
  color: #393e46;
  background-color: #eeeeee;
}

.bg-secondary:hover {
  color: #00adb5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--justify_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--justify_center, .flex--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--justify_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--align_center, .flex--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-relative {
  position: relative;
}

.header {
  height: 10vh;
  background-color: #222831;
  border-bottom: 0.3px solid #eeeeee;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
}

.header__wrapper {
  height: inherit;
  margin: 0 auto;
  max-width: 80vw;
}

.header__list a {
  color: #eeeeee;
}

.header__list a:hover {
  color: #00adb5;
}

.header__brand__title {
  color: #eeeeee;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-left: 1rem;
}

.header__brand__logo {
  width: 2.5vw;
}

.hero {
  height: 70vh;
  background-color: #222831;
  color: #eeeeee;
}

.hero__wrapper {
  height: 45vh;
  margin-top: 2rem;
  max-width: 60vw;
  padding: 0 5rem;
}

.hero__brand__logo {
  width: 5vw;
}

.hero__title span {
  color: #00adb5;
}

.footer {
  height: 40vh;
}

.footer__wrapper {
  width: 80vw;
}

.footer__about {
  height: 30vh;
  margin: 0.5rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.footer__about__content {
  height: inherit;
  margin-left: 1.5rem;
}

.footer__about__content p {
  max-width: 50%;
  text-align: left;
  line-height: 1.5;
}

.footer__about__content p a {
  color: #00adb5;
}

.footer__about__content__list {
  margin-top: 1rem;
}

.footer__about__content__list li:first-child {
  padding-left: 0;
}

.footer__legal {
  height: 15vh;
}

.footer__legal__content {
  margin: auto 0 auto 2rem;
}

.footer__legal__content strong {
  color: #393e46;
}

.footer__legal__content strong span {
  color: #00adb5;
  font-size: 1.25rem;
}

.footer__logo img {
  width: 4vw;
}

.main {
  height: 120vh;
}

.main__wrapper {
  max-width: 80vw;
  text-align: left;
  height: inherit;
  margin: 16.5vh auto 0 auto;
}

.main .footer {
  height: 45vh;
}

.getting-started {
  height: 75vh;
}

.getting-started iframe {
  margin-left: 0;
}

.getting-started__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.getting-started__wrapper {
  height: inherit;
}

.getting-started__content {
  height: 30vh;
}

.components {
  position: fixed;
  z-index: 1;
  top: 10.5vh;
  right: 0vw;
  width: 18.5vw;
  background-color: inherit;
  margin-right: 7rem;
  line-height: 1.4;
  overflow-y: auto;
  height: 90vh;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.components__list {
  -webkit-box-shadow: 0 2px 2px #393e46, 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 2px 2px #393e46, 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-align: left;
}

.components__list li {
  margin: 0.3rem 0;
}

.avatar {
  border: 1px solid #393e46;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.avatar--badge {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0.7rem;
  right: 1rem;
}

.avatar--text {
  font-size: 3rem;
  padding: 0.6rem;
}

.avatar__section {
  height: 210vh;
  max-width: 60vw;
}

.avatar__content {
  height: 60vh;
}

.avatar__content iframe {
  margin-left: -5rem;
}

.avatar__content__img {
  width: 6rem;
}

.avatar__content span,
.avatar__content p {
  margin-left: 1.5rem;
}

.layout__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.layout__desc {
  height: 50vh;
}

.layout__desc__title {
  margin: 1rem 0;
}

.layout__content__title {
  margin: 1rem 0 2rem;
}
/*# sourceMappingURL=style.css.map */