@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #393e46;
  --secondary-color: #00adb5;
  --dark-color: #222831;
  --light-color: #eeeeee;
  --success-color: #059669;
  --error-color: #DC2626;
  --warning-color: #D97706;
  --info-color: #2563EB;
  --blue-200: #BFDBFE;
  --blue-300: #93C5FD;
  --blue-500: #3B82F6;
  --yellow-200: #FDE68A;
  --yellow-300: #FCD34D;
  --yellow-400: #FBBF24;
  --yellow-500: #F59E0B;
  --red-200: #FECACA;
  --red-300: #FCA5A5;
  --red-400: #F87171;
  --red-500: #EF4444;
  --green-200: #A7F3D0;
  --green-300: #6EE7B7;
  --green-500: #10B981;
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
}

body {
  height: 100vh;
  background-color: var(--light-color);
  text-align: center;
  font-size: 1rem;
  color: var(--primary-color);
}

h1 {
  font-weight: 400;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

ul li a:hover {
  color: var(--secondary-color);
}

span {
  font-weight: bold;
}

.header {
  height: 10vh;
  background-color: var(--dark-color);
  border-bottom: 0.3px solid var(--light-color);
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100vw;
  z-index: 1;
}

.header__wrapper {
  height: inherit;
  margin: 0 auto;
  max-width: 80vw;
}

@media only screen and (max-width: 750px) {
  .header__wrapper {
    max-width: 90vw;
  }
}

.header__list {
  min-width: 18vw;
}

@media only screen and (max-width: 750px) {
  .header__list {
    min-width: 30vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__list {
    min-width: 40vw;
  }
}

@media only screen and (max-width: 345px) {
  .header__list {
    font-size: 0.85rem;
  }
}

.header__list__item {
  color: var(--light-color);
}

.header__list__item:hover {
  color: var(--secondary-color);
}

.header__list__item:focus {
  padding: 1rem 2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.3rem;
}

.header__brand {
  text-decoration: none;
}

@media only screen and (max-width: 390px) {
  .header__brand {
    margin-left: 0.5rem;
  }
}

.header__brand__title {
  color: var(--light-color);
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-left: 1rem;
}

@media only screen and (max-width: 750px) {
  .header__brand__title {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .header__brand__title {
    font-size: 0.8rem;
  }
}

.header__brand__logo {
  max-width: 2.5vw;
}

@media only screen and (max-width: 750px) {
  .header__brand__logo {
    max-width: 4vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__brand__logo {
    max-width: 5vw;
  }
}

@media only screen and (max-width: 390px) {
  .header__brand__logo {
    max-width: 6vw;
  }
}

.hero {
  height: 70vh;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.hero__wrapper {
  height: 45vh;
  max-width: 60vw;
  padding: 0 5rem;
}

@media only screen and (max-width: 750px) {
  .hero__wrapper {
    max-width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .hero__wrapper {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .hero__wrapper {
    padding: 0 0.5rem;
  }
}

.hero__brand__logo {
  max-width: 6vw;
}

@media only screen and (max-width: 750px) {
  .hero__brand__logo {
    max-width: 8vw;
  }
}

@media only screen and (max-width: 500px) {
  .hero__brand__logo {
    max-width: 10vw;
  }
}

@media only screen and (max-width: 390px) {
  .hero__brand__logo {
    max-width: 17vw;
  }
}

@media only screen and (max-width: 390px) {
  .hero__title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .hero__title {
    font-size: 1.3rem;
  }
}

.hero__title span {
  color: var(--secondary-color);
}

@media only screen and (max-width: 390px) {
  .hero__desc {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 390px) {
  .hero__desc {
    font-size: 0.75rem;
  }
}

.footer {
  height: 40vh;
}

@media only screen and (max-width: 500px) {
  .footer {
    height: 35vh;
  }
}

@media only screen and (max-width: 390px) {
  .footer {
    height: 30vh;
  }
}

.footer__wrapper {
  min-width: 80vw;
}

@media only screen and (max-width: 750px) {
  .footer__wrapper {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 390px) {
  .footer__wrapper {
    font-size: 0.9rem;
    max-width: 95vw;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}

.footer__about {
  height: 30vh;
  margin: 0.5rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 750px) {
  .footer__about {
    height: 20vh;
  }
}

@media only screen and (max-width: 500px) {
  .footer__about {
    height: 23vh;
  }
}

.footer__about__content {
  height: inherit;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 390px) {
  .footer__about__content {
    margin-left: 1rem;
  }
}

.footer__about__content p {
  max-width: 50%;
  text-align: left;
  line-height: 1.5;
}

@media only screen and (max-width: 750px) {
  .footer__about__content p {
    max-width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .footer__about__content p {
    max-width: 100%;
  }
}

.footer__about__content p a {
  text-decoration: none;
  color: var(--secondary-color);
}

.footer__about__list {
  margin-top: 1rem;
}

.footer__about__list__item {
  padding: 0 0.5rem;
}

.footer__about__list__item:first-child {
  padding-left: 0;
}

.footer__legal {
  height: 15vh;
}

@media only screen and (max-width: 500px) {
  .footer__legal {
    height: 12vh;
  }
}

@media only screen and (max-width: 390px) {
  .footer__legal {
    height: 10vh;
  }
}

.footer__legal__content {
  margin: auto 0 auto 2rem;
}

.footer__legal__content strong {
  color: var(--primary-color);
}

.footer__legal__content strong span {
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.footer__logo img {
  max-width: 4vw;
}

@media only screen and (max-width: 750px) {
  .footer__logo img {
    max-width: 7vw;
  }
}

@media only screen and (max-width: 345px) {
  .footer__logo img {
    max-width: 10vw;
  }
}

.main__section {
  height: 100vh;
  max-width: 58vw;
  margin: 6rem auto 0 7.35rem;
  text-align: left;
}

.main__section--docs {
  height: 75vh;
}

.main__section--layout {
  height: 200vh;
}

.main__section--layout iframe {
  margin-left: -8.5rem;
}

.main__section--avatar, .main__section--alert {
  height: 210vh;
}

.main__section--badge {
  height: 60vh;
}

.main__section--button {
  height: 115vh;
}

.main__section--cards, .main__section--lists {
  height: 250vh;
}

.main__section--images {
  height: 140vh;
}

.main__section--rating, .main__section--search_bar {
  height: 77vh;
}

.main__section--modal {
  height: 125vh;
}

.main__content {
  height: 30vh;
}

.main__content--layout {
  height: 65vh;
}

.main__content--avatar {
  height: 60vh;
}

.main__content--avatar iframe {
  margin-left: 0.5rem;
}

.main__content--avatar .main__content__img {
  max-width: 6.5vw;
}

.main__content--avatar span,
.main__content--avatar p {
  margin-left: 2rem;
}

.main__content--alert {
  height: 50vh;
}

.main__content--alert div {
  margin-left: 2rem;
}

.main__content--badge {
  height: 40vh;
}

.main__content--button {
  height: 45vh;
}

.main__content--cards {
  height: 95vh;
}

.main__content--cards-vertical {
  height: 130vh;
}

.main__content--images, .main__content--rating {
  height: 60vh;
}

.main__content--inputs {
  height: 50vh;
  max-width: 17vw;
}

.main__content--lists {
  max-width: 40vw;
  height: 110vh;
}

.main__content--search_bar {
  max-width: 40vw;
  height: 60vh;
}

.main__content--modal {
  height: 115vh;
}

.main__content--navigation {
  height: 85vh;
}

.main__desc--layout {
  height: 45vh;
  margin-bottom: 1rem;
}

.main__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.main .footer {
  height: 45vh;
}

.components {
  position: fixed;
  z-index: 1;
  top: 10.5vh;
  right: 0vw;
  min-width: 21.3vw;
  background-color: inherit;
  margin-right: 7.3rem;
  line-height: 1.5;
  overflow-y: auto;
  height: 90vh;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.components__list {
  padding: 1rem 0 1rem 1.5rem;
  -webkit-box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-align: left;
}

.components__list li {
  margin: 0.3rem 0;
}

.avatar {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
}

.avatar--badge {
  width: 1vw;
  height: 1vw;
  position: absolute;
  bottom: 0.6vw;
  right: 1vw;
}

.avatar--text {
  font-size: 3.3rem;
  padding: 0.6rem;
  color: var(--light-color);
}

.alert {
  border-radius: 0.3rem;
  max-width: 30vw;
  color: var(--light-color);
  height: 6.5vh;
}

.alert--cross {
  position: absolute;
  font-size: 1.7rem;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: -0.3rem;
}

.alert--cross:hover {
  color: var(--primary-color);
}

.badge {
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
}

.btn {
  padding: 0.3rem 1rem;
  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.09375rem;
  border: none;
}

@media only screen and (max-width: 390px) {
  .btn {
    font-size: 0.7rem;
    line-height: 1.5;
  }
}

.btn-primary {
  color: var(--primary-color);
  background-color: var(--light-color);
}

.btn-primary:hover {
  color: var(--dark-color);
  background-color: #D1D5DB;
}

.btn-secondary, .btn-solid {
  color: var(--light-color);
  background-color: var(--primary-color);
}

.btn-secondary:hover, .btn-solid:hover {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.btn-secondary, .btn-outline {
  border: 1px solid var(--light-color);
}

.btn-secondary:hover, .btn-outline:hover {
  border-color: var(--secondary-color);
}

.btn-outline {
  border-color: var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--secondary-color);
}

.btn-round {
  border-radius: 7rem;
}

.btn-round--corner {
  border-radius: 0.3rem;
}

.btn-icon {
  padding: 0;
  background-color: inherit;
}

.btn-icon:hover {
  color: var(--secondary-color);
}

.btn-sm {
  line-height: 1.5;
  padding: 0.3rem 0.75rem;
}

.btn--link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: thin dotted;
}

.card {
  max-width: 60%;
  background-color: #F9FAFB;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card--col {
  max-width: 35%;
  max-height: 60%;
  padding: 1rem 1.5rem;
}

.card__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__header {
  max-width: 35%;
}

.card__header--col {
  max-width: 100%;
  min-height: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__content {
  max-width: 60%;
}

.card__content--col {
  max-width: 100%;
  min-height: 45%;
}

.card__icon {
  cursor: pointer;
  font-size: 1.3em;
  margin-right: 0.5rem;
}

.card__icon:hover {
  color: var(--secondary-color);
}

.card__icon--col {
  position: absolute;
  right: 0.5vw;
  top: 3vh;
}

.card__strike {
  text-decoration: line-through;
  font-size: 0.75em;
}

.image--rounded {
  border-radius: 50%;
}

.input {
  padding: 0.3rem 0.2rem;
  border: 1px solid var(--primary-color);
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.input-label {
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.input-required {
  margin-top: 0.5rem;
}

.input--error {
  border-color: #DC2626;
  outline-color: #EF4444;
}

.input:focus {
  border-color: var(--secondary-color);
  outline-color: var(--secondary-color);
}

.list {
  max-height: 42vh;
  overflow-y: auto;
  -webkit-box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1);
          box-shadow: -1px -1px 3px 0 rgba(1, 1, 1, 0.1);
  border: 1px solid #D1D5DB;
}

.list__item {
  padding: 1rem;
  border-bottom: 1px solid #D1D5DB;
}

.list__item--spaced {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #D1D5DB;
}

.list__item--spaced:hover {
  -webkit-box-shadow: 2px 2px 3px 0 rgba(1, 1, 1, 0.1);
          box-shadow: 2px 2px 3px 0 rgba(1, 1, 1, 0.1);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.list__item:hover {
  background-color: #BFDBFE;
}

.search-bar {
  max-height: 7vh;
}

.search-bar__input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: var(--dark-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
}

.search-bar__input:focus {
  outline: thin dotted var(--secondary-color);
  border-color: var(--secondary-color);
}

.search-bar__icon {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  border-radius: 0.3rem;
  width: 40vw;
  background-color: white;
}

.modal-body {
  min-height: 15vh;
  border: 1px solid #D1D5DB;
  border-left: 0;
  border-right: 0;
}

.modal-header {
  min-height: 7vh;
}

.modal-footer {
  min-height: 10vh;
}

.modal-hide {
  display: none !important;
}

.modal-close {
  cursor: pointer;
}

.modal-btn {
  position: absolute;
  top: -1.7vh;
  right: 1.8vw;
}

.navigation {
  min-height: 10vh;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-success {
  background-color: #059669;
}

.bg-error {
  background-color: #DC2626;
}

.bg-warning {
  background-color: #D97706;
}

.bg-info {
  background-color: #2563EB;
}

.bg-green-200 {
  background-color: #A7F3D0;
}

.bg-gray-200 {
  background-color: #E5E7EB;
}

.bg-gray-300 {
  background-color: #D1D5DB;
}

.bg-gray-500 {
  background-color: #6B7280;
}

.bg-gray-600 {
  background-color: #4B5563;
}

.bg-red-200 {
  background-color: #FECACA;
}

.bg-red-300 {
  background-color: #FCA5A5;
}

.bg-red-400 {
  background-color: #F87171;
}

.bg-red-500 {
  background-color: #EF4444;
}

.bg-yellow-200 {
  background-color: #FDE68A;
}

.bg-blue-200 {
  background-color: #BFDBFE;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-light {
  color: var(--light-color);
}

.color-dark {
  color: var(--dark-color);
}

.color-success {
  color: #059669;
}

.color-error {
  color: #DC2626;
}

.color-warning {
  color: #D97706;
}

.color-info {
  color: #2563EB;
}

.color-green-200 {
  color: #A7F3D0;
}

.color-red-200 {
  color: #FECACA;
}

.color-red-300 {
  color: #FCA5A5;
}

.color-red-400 {
  color: #F87171;
}

.color-red-500 {
  color: #EF4444;
}

.color-gray-200 {
  color: #E5E7EB;
}

.color-gray-300 {
  color: #D1D5DB;
}

.color-gray-500 {
  color: #6B7280;
}

.color-gray-600 {
  color: #4B5563;
}

.color-yellow-200 {
  color: #FDE68A;
}

.color-blue-200 {
  color: #BFDBFE;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--justify_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--justify_center, .flex--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--justify_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--justify_evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex--align_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex--align_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex--justify_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex--align_center, .flex--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mlr-1 {
  margin: 0 1rem;
}

.mtb-1 {
  margin: 1rem 0;
}

.plr-1 {
  padding: 0 1rem;
}

.ptb-1 {
  padding: 1rem 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.pos-rel {
  position: relative;
}

.hide-scroll {
  overflow: hidden;
}

.text-left {
  text-align: left;
}

.active {
  color: var(--secondary-color);
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */